.container {
  width: 700px;
}

.btn {
  width: 70px;
}

#filter-btns > button:hover {
  border: none;
}

#filter-btns > button:not(:hover) {
  border: none;
}

.selected {
  color: black;
  font-weight: 600;
}
